{% extends "layouts/base.html" %}
{% load widget_tweaks %}

{% block title %} {{name_form}} {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-xl-12 col-md-6" >
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5><a href="{{previous_path}}"><i class="feather icon-arrow-left text-c-red f-15 m-r-10"></a></i>{{name_form}}</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    
                                    <div class="col">
                                    <form id="form" method="post" {% if file_attach %} enctype="multipart/form-data" {% endif %} novalidate>
                                    {% csrf_token %}

                                    {% for hidden_field in form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}

                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger" role="alert">
                                        {% for error in form.non_field_errors %}
                                            {{ error }}
                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                    {% for field in form.visible_fields %}
                                        <div class="form-group">
                                        {{ field.label_tag }}

                                        {% if form.is_bound %}
                                            {% if field.errors %}
                                            {% render_field field class="form-control is-invalid" %}
                                            {% for error in field.errors %}
                                                <div class="invalid-feedback">
                                                {{ error }}
                                                </div>
                                            {% endfor %}
                                            {% else %}
                                            {% render_field field class="form-control is-valid" %}
                                            {% endif %}
                                        {% else %}
                                            {% render_field field class="form-control" %}
                                        {% endif %}

                                        {% if field.help_text %}
                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                        </div>
                                    {% endfor %}
                                    <a href="javascript:{}" class="label theme-bg text-white f-12 " onclick="document.getElementById('form').submit();">submit</a>
                                    {% comment %} <button type="submit" >Submit</button> {% endcomment %}
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
