{% extends "layouts/base.html" %}

{% block title %} Application {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-xl-12 col-md-6" >
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>List Application</h5>
                                    <a href="{% url 'app:create_app' %}" class="label theme-bg text-white f-10">Add Application</a>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <div class="col" style="height:780px">
                                            <table class="table table-hover" >
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Name</th>
                                                        <th>Desc</th>
                                                        <th>Api Key</th>
                                                        <th>Expired Time</th>
                                                        <th>Status App</th>
                                                        <th>Session Status</th>
                                                        <th>Package Subscription</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for x in object_list  %}
                                                    <tr>
                                                        <td>
                                                            <h6 class="m-0">{{x.id}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{x.name}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">{{x.desc}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">{{x.api_key|truncatechars:40}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">{{x.expired_time}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">{{x.status_app}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">{{x.session_status}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">{{x.subscription.nama_paket}}</h6>
                                                        </td>
    
                                                        <td align="center">
                                                            <div class="dropdown">
                                                                <button class="theme-bg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Action
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    {% if x.status_app != "pending" %}<a class="dropdown-item" href="{% url 'app:scan_qr' x.id %}">Scan QR</a>{% endif %}
                                                                    {% if x.session_status == "active" %}
                                                                        <a class="dropdown-item" href="{% url 'app:pause_app' x.id %}">Disable</a>
                                                                    {% elif x.session_status == "not activate" %}
                                                                        <a class="dropdown-item" href="{% url 'app:resume_app' x.id %}">Enable</a>
                                                                    {% endif %}
                                                                    <a class="dropdown-item" href="{% url 'app:update_app' x.id %}">Edit</a>
                                                                    {% comment %} {% if x.status_app != "pending"  %}<a class="dropdown-item" href="#">Delete</a>{% endif %} {% endcomment %}
                                                                    
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
