{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">

{% endblock stylesheets %}


{% block content %}

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        

 
                        <div class="col-xl-12 col-md-12 m-b-30">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Chart Trafik</h5>
                                </div>
                                <div class="card-block">
                                    <div id="morris-area-curved-chart" style="height:300px"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
    <script>
    'use strict';
        $(document).ready(function() {
            setTimeout(function() {
            // [ bar-simple ] chart start
            // [ area-smooth-chart ] start
            Morris.Area({
                element: 'morris-area-curved-chart',
                data: {{chart|safe}},
                lineColors: ['#A389D4', '#1de9b6', ],
                xkey: 'date_trafik',
                ykeys: ['count', 'times' ],
                labels: ['Hit', 'Response Time'],
                pointSize: 0,
                lineWidth: 0,
                resize: true,
                fillOpacity: 0.9,
                responsive:true,
                behaveLikeLine: true,
                gridLineColor: '#d2d2d2',
                hideHover: 'auto'
            });
            // [ area-smooth-chart ] end

            
        

                }, 700);
        });

    </script>

{% endblock javascripts %}