{% extends "layouts/base.html" %}

{% block title %} Application {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-xl-12 col-md-6" >
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Scan QR</h5>
                                    
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div id="div_qr" class="text-center" >
                                        <img id="qrcode" class="img-fluid rounded mx-auto d-block" height="20%" width="20%" src="https://www.kaspersky.com/content/en-global/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png">
                                        <h5 id="status">test</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var ws = new WebSocket("wss://"+location.host+"/ws/dashboard/{{id}}")
    ws.onmessage = function(event) {
        var msg = JSON.parse(event.data);
        console.log(msg)
        switch(msg.command) {
            case "update_qr":
                var div = document.getElementById("div_qr");
                div.style.display = "block";
            var qr = document.getElementById("qrcode");
            var status = document.getElementById("status")
            qr.setAttribute("src","{{api_wa}}"+msg.data.img+"?dummy="+Math.random());
            status.innerHTML = msg.data.status;
            
            
            break;
        }
    }
    ws.onopen = function(event) {
        console.log("lontong")
    }



</script>
{% endblock javascripts %}
