
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-dattaable" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-radio"></i>
                    </div>
                    <span class="b-title">Whatsapp hub's</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                {% if request.user.is_superuser %}
                    {% include "includes/navigation_admin.html" %}
                {% elif request.user.is_superuser == False %}
                    {% include "includes/navigation_client.html" %}
                {% endif %}
            </div>
        </div>
    </nav>
