<ul class="nav pcoded-inner-navbar">
    <li class="nav-item pcoded-menu-caption">
        <label>Navigation</label>
    </li>
    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
        class="nav-item {% if 'index' in segment %} active {% endif %}">
        <a href="{% url 'app:client_dashboard' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span>
            <span class="pcoded-mtext">Dashboard</span></a>
    </li>
    <li data-username="Disabled Menu" class="nav-item">
        <a href="{% url 'app:app_list' %}" class="nav-link">
            <span class="pcoded-micon">
                <i class="feather icon-activity"></i>
            </span>
            <span class="pcoded-mtext">Application List</span>
        </a>
    </li>
    <li data-username="Disabled Menu" class="nav-item">
        <a href="{% url 'sales:invoice_list' %}" class="nav-link">
            <span class="pcoded-micon">
                <i class="feather icon-credit-card"></i>
            </span>
            <span class="pcoded-mtext">Invoice</span>
        </a>
    </li>
    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Setting</span></a>
        <ul class="pcoded-submenu">
            <li class=""><a href="{% url 'auth:update_user' request.user.id %}" class="">Account</a></li>
            <li class=""><a href="{% url 'auth:update_profile' request.user.id %}" class="">Profile</a></li>
            
        </ul>
    </li>
    <li data-username="Disabled Menu" class="nav-item">
        <a href={% url 'auth:logout' %} class="nav-link">
            <span class="pcoded-micon">
                <i class="feather icon-power"></i>
            </span>
            <span class="pcoded-mtext">Logout - [ {{ request.user.username }} ]</span>
        </a>
    </li>
</ul>