{% extends "layouts/base.html" %}

{% block title %} Invoice {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-xl-12 col-md-6" >
                            <div class="card ">
                                <div class="card-header">
                                    <h5>List Invoice</h5>
                                    <a href="#!" class="label theme-bg text-white f-10">Create Invoice</a>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <div class="col" style="height:780px">
                                            <table class="table table-hover" >
                                                <thead>
                                                    <tr>
                                                        <th>No Invoice</th>
                                                        <th>Reciever</th>
                                                        <th>Description</th>
                                                        <th>Date</th>
                                                        <th>Status</th>
                                                        <th class="text-right"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <h6 class="m-0">B-2019/02/2-123</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">Angga Prabuwisesa</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">Pembayaran Bulan 2019-09</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">2020/08/09</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>UNPAID</h6>
                                                        </td>
    
                                                        <td align="center">
                                                            <div class="dropdown">
                                                                <button class="theme-bg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Action
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" href="#">Bayar</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                    <a class="dropdown-item" href="#">Detail</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
