{% extends "layouts/base.html" %}

{% block title %} User Page {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-xl-12 col-md-6" >
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Active User</h5>
                                    {% comment %} <a href="#!" class="label theme-bg text-white f-10">Add Users</a> {% endcomment %}
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <div class="col" style="height:780px">
                                            <table class="table table-hover" >
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Username</th>
                                                        <th>Email</th>
                                                        <th>Join At</th>
                                                        <th class="text-right"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for x in data %}
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">{{x.id}}</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">{{x.username}}</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">{{x.email}}</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">{{x.date_joined}}</h6>
                                                            </td>
                                                            <td align="center">
                                                                <div class="dropdown">
                                                                    <button class="theme-bg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        Action
                                                                    </button>
                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                        <a class="dropdown-item" href="#">Suspend</a>
                                                                        <a class="dropdown-item" href="#">Delete User</a>
                                                    
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
