{% extends "layouts/base.html" %}
{% load humanize %}


{% block title %} Subscription Package List {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-xl-12 col-md-6" >
                            <div class="card ">
                                <div class="card-header">
                                    <h5>List Invoice</h5>
                        
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <div class="col" style="height:780px">
                                            <table class="table table-hover" >
                                                <thead>
                                                    <tr>
                                                        <th>Id Invoice</th>
                                                        <th>Invoice Date</th>
                                                        <th>Pay Date</th>
                                                        <th>Status</th>
                                                        <th>Total Price</th>
                                                        <th>App Name</th>
                                                        <th class="text-right"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for data in object_list %}
                                                    <tr>
                                                        <td>
                                                            <h6 class="m-0">{{data.id}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{data.invoice_date}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">{{data.pay_date}}</h6>
                                                        </td>       
                                                        <td>
                                                            <h6 class="text-muted">
{#                                                                {% if data.status != 'capture' %}#}
{#                                                                    Unpaid#}
{#                                                                {% elif data.status == "settlement"  %}#}
{#                                                                    Paid#}
{#                                                                {% else %}#}
{#                                                                    Paid#}
{#                                                                {% endif %}#}
                                                                {{ data.status }}
                                                            </h6>
                                                        </td>  
                                                        <td>
                                                            <h6 class="text-muted">Rp. {{data.total_price|floatformat:2|intcomma}}</h6>
                                                        </td>         
                                                        <td>
                                                            <h6 class="text-muted">{{data.detail.get.app_id.name}}</h6>
                                                        </td>                                         
                                                        <td align="center">
                                                            <div class="dropdown">
                                                                <button class="theme-bg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Action
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">   
                                                                {% if data.status != 'capture' %}
                                                                    <a class="dropdown-item" href="{% url 'sales:invoice_bayar' data.id %}">Bayar</a>
                                                                {% endif %}                                    
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
