{% extends "layouts/base.html" %}

{% block title %} Subscription Package List {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-xl-12 col-md-6" >
                            <div class="card ">
                                <div class="card-header">
                                    <h5>List Subscription Package</h5>
                                    <a href="{% url 'sales:subscription_create' %}" class="label theme-bg text-white f-10">Create Subscription Package</a>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <div class="col" style="height:780px">
                                            <table class="table table-hover" >
                                                <thead>
                                                    <tr>
                                                        <th>Id Package</th>
                                                        <th>Name Package</th>
                                                        <th>Pricing</th>
                                                        <th class="text-right"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for data in object_list %}
                                                    <tr>
                                                        <td>
                                                            <h6 class="m-0">{{data.id}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{data.nama_paket}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">{{data.harga}}</h6>
                                                        </td>                                                       
                                                        <td align="center">
                                                            <div class="dropdown">
                                                                <button class="theme-bg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Action
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                       
                                                                    <a class="dropdown-item" href="{% url 'sales:subscription_update' data.id %}">Edit</a>
                                                                    <a class="dropdown-item" onclick="return confirm('Are you sure you want to delete this?')" href="{% url 'sales:subscription_delete' data.id %}">Delete</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
