/* NAVBAR */

.navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
}

.navbar-brand {
    font-family: Viga;
    font-size: 30px;
}


/* JUMBOTRON */

.jumbotron {
    background-image: url(/static/assets/images/15.png);
    background-size: cover;
    height: 640px;
    margin-top: 100px;
}

.jumbotron .display-4 {
    margin-top: 200px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 600;
}

.jumbotron .display-4 {
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 600;
}


/* INFO PANEL */

.infoPanel {
    margin-top: -90px;
    background-color: #fff;
    padding-top: 30px;
    top: 0;
    right: 0;
    left: 0;
}

.infoPanel img {
    margin-right: 20px;
    margin-bottom: 20px;
}

.infoPanel h5 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.infoPanel p {
    font-size: 14px;
    color: black;
    margin-top: 5px;
    font-weight: 350;
    text-align: center;
}


/* DAFTAR */

.daftar {
    background-color: #f1f1f1;
}

h1 {
    font-size: 52px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 40px;
}

h1 span {
    font-weight: 300;
    color: #00BFA6;
}

p {
    font-size: 16px;
    color:black;
    font-weight: 350;
    margin-top: 30px 0;
}


/* DAFTAR HARGA */

#harga {
    padding: 30px 0px;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}
    
    body {
        background-color: #a17fdb;
    }

.card {
    margin: 20px 10px;
    border: none;
}


/* ABOUT */

.about {
    background-color: #f1f1f1;
    margin-top: 100px;
    margin-bottom: 100px;
}


/* INFO LINK */

.infoLink p a {
    color: #433d3c;
}


/* FOOTER */

footer {
    height: 50px;
    padding-bottom: 100px;
}

footer p {
    text-align: center;
}


/* UTILITY */

.btn {
    background-color: #35ddcb;
    color: white;
    border: none;
}

section {
    min-height: 400px;
}

i {
    font-size: large;
    padding: 5px 5px 5px;
    color: #acacac;
}


/* RESPONSIVE */


/* DESKTOP VERSION */

@media (min-width: 992px) {
    .nav-link {
        /* text-transform: uppercase; */
        margin-right: 40px;
    }
    .navbar-brand,
    .nav-link {
        color: #35ddcb !important;
        /* text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5); */
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #35ddcb;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .mx-30 {
        margin-top: 100px;
        margin-bottom: 30px;
        size: 30px;
    }
}