
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- MY CSS -->
    <link rel="stylesheet" href="/static/assets/css/style4.css">
    <title>WhatsApp Hub's</title>

    <!-- MY ICONS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <a href="https://icons8.com/icon/54888/rest-api"></a>
    <!-- MY FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <title>WhatsApp Hub</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="/static/assets/images/Logo WH (1).png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="#harga">Pricing</a>
                    <a class="nav-link" href="https://documenter.getpostman.com/view/6163581/TVsvhnJy">API</a>
                    <a class="nav-link" href="#infoPanel">Features</a>
                    <a class="nav-link" href="#about">About</a>
                    <a class="nav-link" href="#infoLink">Contact Us</a>
                    {% if not user.is_authenticated %}<a class=" btn" href="{% url 'auth:login' %}">Login</a>{% endif %}
                    
                </div>
            </div>
        </div>
    </nav>
    <!-- AKHIR NAVBAR -->

    <!-- JUMBOTRON -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center ">
            <h1 class="display-4 text-center">Kembangkan & <span>Raih </span> market dengan <span>Juragan WA</span> Hub</h1>
            <p class="lead text-center">Lebih dekat dengan market dengan menggunakan API whatsapp Private. Kembangkan bisnis di era digital dengan memanfaatkan whatsapp?
            </p>
            {% if user.is_authenticated %}
            <a class="btn text-white text-center" href="{% url 'app:client_dashboard' %}">GET STARTED</a>
            {% else %}
            <a class="btn text-white text-center" href="{% url 'auth:register' %}">GET STARTED</a>
            {%endif%}
        </div>
    </div>
    </div>
    <!-- AKHIR JUMBOTRON -->


    <!-- INFO PANEL -->
    <section class="infoPanel" id="infoPanel">
        <div class="row justify-content-center">
            <div class="col-10 infoPanel">
                <div class="row text-center">
                    <div class=" col-md ">
                        <img src="/static/assets/images/icon3.png " alt="autoreply ">
                        <h5>WhatsApp blast</h5>
                        <p>Pengiriman Pesan secara masal.(Coming soon)</p>
                    </div>
                    <div class="col-md ">
                        <img src="/static/assets/images/icon4.png " alt="autoreply ">
                        <h5>Full REST API</h5>
                        <p>Integrasi jauh lebih simple dengan full rest api?</p>
                    </div>
                    <div class="col-md ">

                        <img src="/static/assets/images/icon2.png " alt="autoreply ">
                        <h5>ChatBot</h5>
                        <p>Fitur untuk melayani pertanyaan dari consumen secara automatis (Coming soon)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- AKHIR INFO PANEL -->


    <!-- PENDAFTARAN -->
    <section class="daftar" id="daftar">
        <div class="container">
            <div class="row text-center">
                <div class="col-md">
                    <h1 class="text-center">Mari  <span>Bergabung </span> bersama dengan <span>WA</span> Hub</h1>
                    <p class="text-center">Kembangkan bisnis di era digital dengan memanfaatkan whatsapp?
                    </p>
                    {% if user.is_authenticated %}
                    <a class="btn text-white" href="{% url 'app:client_dashboard' %}">Register</a>
                    {% else %}
                    <a class="btn text-white" href="{% url 'auth:register' %}">Register</a>
                    {%endif%}
                </div>
                <div class="col-md">
                    <img src="/static/assets/images/16.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- AKHIR PENDAFTARAN -->

    <!-- DAFTAR HARGA -->
    <section class="harga" id="harga">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Harga <span>Paket</span></h1>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">

                        <div class="card-body">
                            <h2 class="text-center">Paket Cuma</h2>
                            <h5 class="text-center">Rp 50.000</h5>
                            
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">Quota 100/day <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Send Text <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Send Image <span class="badge"><i class="fa fa-times" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Send File <span class="badge"><i class="fa fa-times" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Callback new message <span class="badge"><i class="fa fa-times" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Callback status message <span class="badge"><i class="fa fa-times" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Get History Chat <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>

                            </ul>
                            
                            {% if user.is_authenticated %}
                            <a class="btn text-white text-center" href="{% url 'app:client_dashboard' %}">Buy</a>
                            {% else %}
                            <a class="btn text-white text-center" href="{% url 'auth:register' %}">Buy</a>
                            {%endif%}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">

                        <div class="card-body">
                            <h2 class="text-center">Paket Jaya</h2>
                            <h5 class="text-center">Rp 75.000</h5>
                            
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">Quota 350/day <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Send Text <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Send Image <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Send File <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Callback new message <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Callback status message <span class="badge"><i class="fa fa-times" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Get History Chat <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>

                            </ul>
                            
                            {% if user.is_authenticated %}
                            <a class="btn text-white text-center" href="{% url 'app:client_dashboard' %}">Buy</a>
                            {% else %}
                            <a class="btn text-white text-center" href="{% url 'auth:register' %}">Buy</a>
                            {%endif%}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h2 class="text-center">Paket Merdeka</h2>
                            <h5 class="text-center">Rp 139.000</h5>
                            
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">Quota 500/day <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Send Text <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Send Image <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Send File <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Callback new message <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Callback status message <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>
                                <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Get History Chat <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span></li>

                            </ul>
                            
                            {% if user.is_authenticated %}
                            <a class="btn text-white text-center" href="{% url 'app:client_dashboard' %}">Buy</a>
                            {% else %}
                            <a class="btn text-white text-center" href="{% url 'auth:register' %}">Buy</a>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- AKHIR DAFTAR HARGA -->

    <!-- ABOUT US -->
    <section class="about" id="about">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg">
                    <h1> <span>About</span> Us</h1>
                    <div class="row">
                        <div class="col-lg">
                            <p>Wahub Api adalah sebagai penyedia jasa untuk integrasi whatsapp menggunakan private api (<span>https://web.whatsapp.com</span>), pihak Wahub tidak bertanggung jawab jika terjadi penyalah gunaan.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- AKHIR ABOUT -->

    <!-- INFO LINK -->
    <section class="infoLink" id="infoLink">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 text-justify">
                    <h5>Powerd By: <a href="https://prabunesia.com"><img src="/static/assets/images/Logo Prabunesia.png" height="30%" width="30%" class="img-fluid" ></a></h5>
                    <p>
                    Prabunesia adalah usaha rintisan yang bergerak di bidang software house, fokus utama kami dibidang integrasi, pengembangan kecerdasan buatan dan data engineer.
                    </p>

                </div>
                <div class="col-lg-3">

                    <h5>Social Media</h5>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                </div>

                <div class="col-lg-3">

                    <h5>Contact Us</h5>
                    <p>anggashela@gmail.com</p>
                    <p>08975115906</p>
                    <p>Apartemen kalibata city tower nusa indah, unit 16bf, Jakarta Selatan, Indonesia </p>
                </div>
            </div>
        </div>

    </section>
    <!-- AKHIR INFOLINK -->

    <!-- FOOTER -->
    <footer>
        <footer>
            <p class="text">© copyright 2020 | build by Sonia Irawan with <i class="fas fa-heart"></i></p>
        </footer>
    </footer>
    <!-- AKHIR FOOTER -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx " crossorigin="anonymous "></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js " integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s " crossorigin="anonymous "></script>
    -->
</body>

</html>